.forest-d3
    rect
        &.bar
            fill-opacity 0.7
            stroke-width 1
            stroke $axisLineColor
            stroke-opacity 0.1
            transition fill-opacity 0.25s, stroke-opacity 0.25s

    .highlight
        rect
            &.bar
                fill-opacity 0.9
                stroke-opacity 0.9

    &.bar-chart
        text
            font-size 20px
            fill $axisTextColor

    .bars
        rect
            stroke $axisLineColor

        line
            &.zero-line
                stroke $axisLineColor
                stroke-opacity 0.7