.forest-d3
    rect
        &.bar
            fill-opacity 0.7

    &.bar-chart
        text
            font-size 20px
            fill $axisTextColor

    .bars
        rect
            stroke $axisLineColor

        line
            &.zero-line
                stroke $axisLineColor
                stroke-opacity 0.7