.forest-d3
    svg
        width 100%
        height 100%

    &.auto-height
        svg
            height auto

    rect
        &.backdrop
            opacity 0
            pointer-events all

    .axis
        .tick
            line
                stroke $axisLineColor

            text
                fill $axisTextColor

        &.x-axis
            .tick
                line
                    stroke-opacity 0.2

        &.y-axis
            .tick
                line
                    stroke-opacity $yAxisOpacity

        > path
            fill none
            stroke $axisLineColor
            stroke-opacity 0.2

    .axes-labels
        fill $axisTextColor
        pointer-events none

    .canvas
        & > rect
            pointer-events all
            fill none
            stroke $axisLineColor
            stroke-opacity 0.2

        path
            &.point
                fill-opacity 0.75
                stroke $axisLineColor
                stroke-opacity 0.5

        line
            &.guideline, &.crosshair-x, &.crosshair-y
                stroke $axisLineColor
                pointer-events none

        .guideline-markers
            circle
                &.marker
                    stroke $axisLineColor
                    stroke-opacity 0.7

        .series
            pointer-events none

            &.interactive
                pointer-events all
