.forest-d3
    svg
        width 100%
        height 100%

    rect
        &.backdrop
            opacity 0

    .axis
        .tick
            line
                stroke #848DED
                stroke-opacity 0.07

        > path
            fill #CDD2F3

    .canvas
        & > rect
            fill-opacity 0.1
            fill #BCBCF2

        circle
            &.point
                fill-opacity 0.8
