.forest-d3
    svg
        width 100%
        height 100%
        
    rect
        &.backdrop
            opacity 0.1
            
    .canvas
        & > rect 
            opacity 0.1
            fill blue
    