.forest-d3
    &.legend
        .item
            min-width 200px
            padding 5px
            cursor pointer
            transition all 0.25s

            &:hover
                background-color $legendHoverColor

                .show-only
                    display inline-block

            &.disabled
                color #ccc
                font-style italic
                opacity 0.5

            .color-square
                position relative
                top 3px
                display inline-block
                width 18px
                height 18px
                margin-right 8px
                border solid 1px #ccc
                border-radius 3px

            .show-only
                display none
                margin-left 15px

        .button
            cursor pointer
            color #498FCB

            &:hover
                text-decoration underline
