.forest-d3
    &.legend
        .item
            min-width 200px
            padding-bottom 10px
            cursor pointer
            border-bottom solid 1px transparent

            &:hover
                border-bottom solid 1px #ccc

                .show-only
                    display inline-block

            &.disabled
                color #ccc
                font-style italic
                opacity 0.5

            .color-square
                position relative
                top 4px
                display inline-block
                width 18px
                height 18px
                margin-right 8px
                border solid 1px #ccc
                border-radius 3px

            .show-only
                display none
                margin-left 15px

        .button
            cursor pointer
            color #498FCB

            &:hover
                text-decoration underline
