.forest-d3
    path
        &.line
            fill none
            stroke-opacity 0.8
            stroke-width 2
            pointer-events none
            transition all 0.25s

        &.area
            fill-opacity 0.3
            transition all 0.25s

    .highlight
        path
            &.line
                stroke-opacity 1.0
                stroke-width 3

            &.area
                fill-opacity 0.5