.forest-d3
    line
        &.marker
            stroke $axisLineColor
            stroke-opacity 0.5
            stroke-dasharray 5

    .marker-label
        fill $axisTextColor
        font-size 11px

