.forest-d3
    &.tooltip-box
        position absolute
        pointer-events none
        min-width 20px
        min-height 20px

        margin 0 10px 0 10px

        background white
        border solid 1px #ccc
        border-radius 3px
