extends ./template.jade

block content
    style.
        text.negative {
            fill: #f22 !important;
        }

        rect.negative {
            fill: #622 !important;
        }

    .col-md-6.col-md-offset-3

        #sort-button.btn.btn-default Sort
        #example(style='border: solid 1px #555;')

    script(src="app-bar-horizontal.js")