extends ./template.jade

block content
    .col-xs-8
        h3.text-center Bar Chart
        #example(style="height: 400px;")
    .col-xs-2
        #legend(style="margin-top:50px;")

    .clearfix
    .col-md-12
        hr
        .row
            .col-xs-4
                .text-center Single Bar
                #example-single(style='height: 300px;')

            .col-xs-4
                .text-center One Group
                #example-onegroup(style='height: 300px;')

            .col-xs-4
                .text-center Two Groups
                #example-twogroups(style='height: 300px;')

    script(src="app-bar.js")
