extends ./template.jade

block content
    .col-xs-10
        h3.text-center Line plus bar chart
        #line-plot(style="height: 400px;")
    .col-xs-2
        #legend(style="margin-top:50px;")

    .clearfix
    .col-xs-10
        #bar-plot(style="height: 210px;")

    script(src="app.js")
