doctype html
html(lang="en")
    head
        title Forest D3 - By Robin Hu

        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js", charset="utf-8")
        script(src="forest-d3.js")
        link(rel="stylesheet", href="forest-d3.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

    body
        .container-fluid
            .page-header
                h1
                    | Forest D3
                    small &nbsp;&nbsp; A javascript charting library by Robin Hu


                h3
                    a(href="https://github.com/robinfhu/forest-d3") Source Code

            .row
                ul.nav.nav-pills
                    li
                        a(href="index.html") Basic Chart
                    li
                        a(href="line.html") Line Chart

            .row
                .col-xs-8
                    h3.text-center #{title}
                    #example(style="height: 400px;")
                .col-xs-2
                    #legend(style="margin-top:50px;")

            footer
                .text-center
                    small &copy; 2015 Robin Hu

        script(src="#{exampleCode}")


