doctype html
html(lang="en")
    head
        title Forest D3 - By Robin Hu

        script(src="../node_modules/d3/d3.js", charset="utf-8")
        script(src="../dist/forest-d3.js")
        link(rel="stylesheet", href="../dist/forest-d3.css")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.css")
        
    body
        h1 Forest D3 Example

        div#example(style="width:50%; height: 500px;")

        script(src="app.js")