doctype html
html(lang="en")
    head
        title Forest D3 - By Robin Hu

        script(src="../node_modules/d3/d3.js", charset="utf-8")
        script(src="../dist/forest-d3.js")
        link(rel="stylesheet", href="../dist/forest-d3.css")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.css")

    body
        h1 Forest D3 Example

        .container-fluid
            .row
                .col-xs-8(style=" height: 700px;")
                    h3.text-center Chart Title
                    #example(style="height: 100%;")
                .col-xs-2
                    #legend(style="margin-top:250px;")

        script(src="app.js")