extends ./template.jade

block content
    .col-xs-10
        h3.text-center Line Chart
        #example(style="height: 400px;")
    .col-xs-2
        #legend(style="margin-top:50px;")

    .clearfix
    .col-md-12
        hr
        .row
            .col-xs-4
                #example-update(style='height:400px;')
                .text-center
                    button.btn.btn-default#update-data Update Data

            .col-xs-4
                #example-log-scale(style='height:400px;')

            .col-xs-4
                #example-random(style='height:400px;')
                .text-center
                    button.btn.btn-default#update-x-sort Toggle X Sort

        .row
            .col-xs-4
                #example-non-ordinal(style='height:400px;')

            .col-xs-4
                #example-type-switch(style='height:400px;')
                .text-center
                    button.btn.btn-primary#switch-to-line Line
                    button.btn.btn-primary#switch-to-scatter Scatter
                    button.btn.btn-primary#switch-to-bar Bar
                    button.btn.btn-primary#switch-to-area Area

    script(src="app-line.js")
