extends ./template.jade

block content
    .col-xs-8
        h3.text-center Line Chart
        #example(style="height: 400px;")
    .col-xs-2
        #legend(style="margin-top:50px;")

    script(src="app-line.js")
