extends ./template.jade

block content
    .col-md-12
        h3.text-center Scatter Chart
        .text-center
            | Using spatial tooltips
            | &nbsp; | &nbsp;
            a(href='http://bl.ocks.org/robinfhu/c159eca5249af366c307') Read about quadtrees

    .col-sm-7
        #example(style='height: 400px;')

    .col-sm-2
        #legend


    script(src='app-scatter.js')

