extends ./template.jade

block content
    .col-xs-5
        h3.text-center
            | Scatter Chart
            | &nbsp;&nbsp; with spatial tooltip

        #example(style='height: 400px;')

    script(src='app-scatter.js')

