extends ./template.jade

block content
    .col-md-12
        h3.text-center Scatter Chart
        .text-center
            | Using spatial tooltips
            | &nbsp; | &nbsp;
            a(href='http://bl.ocks.org/robinfhu/c159eca5249af366c307') Read about quadtrees

    .col-xs-8
        #example(style='height: 480px;')

    .col-xs-2
        #legend

    .clearfix
    .col-xs-8
        #example-hover(style='height: 480px;')
    .col-xs-2
        #legend-hover



    script(src='app-scatter.js')

