extends ./template.jade

block content
    .col-xs-10
        h3.text-center Stacked Area Chart
        #example(style="height: 400px;")
    .col-xs-2
        #legend(style="margin-top:50px;")

    script(src="app-stacked-area.js")
