doctype html
html(lang="en")
    head
        title Forest D3 - By Robin Hu

        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js", charset="utf-8")
        script(src="forest-d3.js")
        link(rel="stylesheet", href="forest-d3-dark.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

        style.
            body.dark {
                background-color: #201F1D;
                color: #DCDCDC;
            }
    body.dark
        .container-fluid
            .page-header
                h1
                    | Forest D3
                    small &nbsp;&nbsp; A javascript charting library by Robin Hu


                h3
                    a(href="https://github.com/robinfhu/forest-d3") Source Code

            .row
                ul.nav.nav-pills
                    li
                        a(href="index.html") Basic Chart
                    li
                        a(href="line.html") Line Chart
                    li
                        a(href="bar.html") Bar Chart
                    li
                        a(href="scatter.html") Scatter Chart
                    li
                        a(href="ohlc.html") OHLC Chart

            .row
                block content

            footer
                .text-center
                    small &copy; 2015 Robin Hu
