doctype html
html(lang="en")
    head
        title Forest D3 - By Robin Hu

        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.js", charset="utf-8")
        script(src="forest-d3.js")
        link(rel="stylesheet", href="forest-d3-dark.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

        style.
            body.dark {
                background-color: #201F1D;
                color: #DCDCDC;
            }
    body.dark
        .container-fluid
            .page-header
                h1
                    span#forest-d3-title Forest D3
                    small &nbsp;&nbsp; A Javascript charting library by Robin Hu

                h4.
                    This webpage showcases some live examples of my charting library. Please enjoy!

                h3
                    a(href="https://github.com/robinfhu/forest-d3") Github Page

            .row
                ul.nav.nav-pills
                    li
                        a(href="index.html") Home
                    li.disabled
                        a
                            strong Chart Types:
                    li
                        a(href="line.html") Line
                    li
                        a(href="stacked-area.html") Stacked Area
                    li
                        a(href="bar.html") Bar
                    li
                        a(href="bar-horizontal.html") Horizontal Bar
                    li
                        a(href="scatter.html") Scatter
                    li
                        a(href="pie.html") Pie
                    li
                        a(href="ohlc.html") OHLC

            .row
                block content

            footer
                .text-center
                    small &copy; 2015-2016 Robin Hu

        script(type="text/javascript").
            var version = ForestD3.version;
            document.getElementById('forest-d3-title').textContent = "Forest D3 " + version;
